.download-link {
    color: #1890ff;
    cursor: pointer;
}

.success {
    color: green;
}

.error {
    color: red;
}

.warning {
    color: orange;
}

.request-list-container {
  height: 100vh; /* Задает высоту контейнера равную высоте видимой области страницы */
  display: flex; /* Устанавливает отображение элементов в ряд */
  align-items: flex-start; /* Выравнивает элементы по вертикали сверху */
}